* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Courier, monospace;
}

html,
body {
    height: 100%;
}

.clear {
    clear: both;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

header {
    padding: 20px 2%;
}

header .logo img {
    width: 236px;
    float: left;
}

header nav.menu-mobile {
    margin-top: 7px;
    float: right;
    width: 28px;
    height: 28px;
    background-image: url('../images/menu-mobile.png');
    background-size: 100% 100%;
    display: none;
    cursor: pointer;
}

nav.menu-mobile ul {
    z-index: 999;
    text-align: center;
    width: 100%;
    position: absolute;
    left: 0;
    top: 60px;
    background-color: white;
    text-transform: uppercase;
    display: none;
}

nav.menu-desktop ul li {
    padding: 10px 0;

}


header nav.menu-desktop {
    float: right;
}

header nav.menu-desktop ul {
    padding: 8px 0;
    list-style-type: none;
}

header nav.menu-desktop ul li {
    float: left;
    font-size: 14px;
    padding: 0 20px;
    text-transform: uppercase;
}

header ul a {
    text-decoration: none;
    color: #b4b4b4;
}

.mosaico-single {
    float: left;
    width: calc(100%/6);
}

.img-mosaico-single {
    width: 100%;
    padding-top: 100%;
    background-color: #ccc;
    border: 5px solid white;
    /* background-image: url(); */
}

section.servicos>.container {
    max-width: 800px;
    display: flex;
    align-items: center;
    position: relative;
    top: -40px;
    text-align: center;
}

section.servicos>.container .box-servico {
    background-image: url('../images/icone_dente.png');
    background-size: 18px 18px;
    background-position: center calc(100% - 5px);
    background-repeat: no-repeat;
}

section.servicos>.container .box-servico h2 {
    color: white;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 15px;

}

section.servicos>.container .box-servico p {
    color: white;
    font-weight: normal;
    font-size: 13px;
    margin-top: 5px;

}

section.servicos>.container .box-servico:nth-of-type(1) {
    width: 30%;
    padding: 30px 2%;
    background-color: #576975;
}

section.servicos>.container .box-servico:nth-of-type(2) {
    width: 40%;
    padding: 55px 2%;
    background-color: #688293;
    background-image: none;
}

section.servicos>.container .box-servico:nth-of-type(3) {
    width: 30%;
    padding: 30px 2%;
    background-color: #576975;
}

section.perfil-container {
    padding: 40px 0;
}

section.perfil-container .container {
    max-width: 800px;
}

section.perfil-container .perfil-wraper {
    padding-top: 60%;
    position: relative;
}

section.perfil-container .perfil-wraper-2 {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

section.perfil-container .img-perfil {
    width: 40%;
    height: 100%;
    background-image: url('../images/img_perfil.png');
    background-size: 100% 100%;
}

section.perfil-container .texto-perfil {
    width: 60%;
    padding: 30px 2%;
}

section.perfil-container .texto-perfil h2 {
    font-size: 18px;
    color: #698293;
}

section.perfil-container .texto-perfil p {
    color: #4b4b4b;
    font-size: 14px;
    margin-top: 10px;
}

section.videos {
    padding: 50px 0;
}

section.videos .box-video {
    float: left;
    width: 33.3%;
    padding-top: calc(33.3% * 0.6);
    position: relative;
}

section.videos iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 5px solid white;
}

section.tratamentos .tratamento-container {
    float: left;
    width: 33.3%;
    padding: 10px 0;
}

section.tratamentos .tratamento-title {

    text-align: center;
}

section.tratamentos .tratamento-title h2 {
    font-size: 22px;
    color: #698293;
}

section.tratamentos .tratamento-single {
    padding: 20px;
}

section.tratamentos .tratamento-single h2 {
    font-size: 18px;
    color: #737373;
}

section.tratamentos .tratamento-single p {
    font-size: 14px;
    margin-top: 7px;
    color: #b4b4b4;
}

section.depoimentos .titulo-depoimento {
    text-align: center;
    padding-bottom: 20px;
}

section.depoimentos .titulo-depoimento h2 {
    font-size: 22px;
    color: #698293;
}

section.depoimentos .container {
    padding: 40px 0;
    max-width: 400px;
}

section.depoimentos .depoimento-single {
    text-align: center;

}

section.depoimentos .depoimento-single quote {
    font-size: 15px;
    color: #b4b4b4;
}

section.depoimentos .depoimento-single .avatar-depoimento img {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-top: 15px;
}

section.depoimentos .avatar-depoimento span {
    font-size: 13px;
    color: #b4b4b4;
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
}

section.depoimentos .slider-depoimento {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}

section.depoimentos .active {
    background-color: #698293;
    display: inline-block;
    cursor: pointer;
}

section.social .container {
    width: 100%;

}


section.social .social-insta {
    float: left;
    width: 100%;
    text-align: center;
    padding: 40px 0;
    background: #98a5ae;
}

.social-insta p {
    line-height: 24px;
    color: white;
    padding: 10px 0;
    font-size: 13px;
}

section.social .mosaico-social {
    float: left;
    width: 100%;
}

section.social .img-mosaico-single-social {
    float: left;
    width: calc(100% / 9);
    padding-top: calc(100% / 9);
    background-color: #ccc;
    border: 5px solid white;
}

section.social .social-fb {
    float: left;
    width: 100%;
    text-align: center;
    padding: 40px 0;
    background: #576975;
}

.social-fb p {
    line-height: 24px;
    color: white;
    padding: 10px 0;
    font-size: 13px;
}




/*Responsivo 1024*/
@media (max-width: 1024px) {

    section.social .img-mosaico-single-social {
        width: calc(100% / 6);
        padding-top: calc(100% / 6);
    }

    .mosaico-social>div:nth-of-type(1n+7) {
        display: none;
    }
}


/*Responsivo 768*/
@media (max-width: 768px) {


    header nav.menu-mobile {
        display: block;
    }

    header nav.menu-desktop {
        display: none;
    }

    section.servicos>.container {
        flex-direction: column;
        text-align: center;
        justify-content: center;

    }

    section.servicos>.container .box-servico:nth-of-type(1) {
        width: 90%;
        max-width: 350px;
        padding: 30px 2%;
    }

    section.servicos>.container .box-servico:nth-of-type(2) {
        width: 94%;
        max-width: 380px;
        padding: 40px 2%;
    }

    section.servicos>.container .box-servico:nth-of-type(3) {
        width: 90%;
        max-width: 350px;
        padding: 30px 2%;
    }

    section.perfil-container .perfil-wraper {
        padding-top: 0;
    }

    section.perfil-container .perfil-wraper-2 {
        display: inline-block;
        text-align: center;
        height: auto;
        position: static;
    }

    section.perfil-container .img-perfil {
        width: 50%;
        padding-top: 70%;
        display: inline-block;
        height: auto;
    }

    section.perfil-container .texto-perfil {
        text-align: justify;
        width: 100%;
        align-items: center;
        padding-left: 130px;
        padding-right: 130px;
    }

    section.perfil-container .texto-perfil h2 {
        width: 100%;
    }

    section.perfil-container .texto-perfil p {
        width: 100%;
    }

    section.videos {
        text-align: center;
    }

    section.videos .box-video {
        width: 70%;
        float: none;
        display: inline-block;
        padding-top: calc(70% * 0.6);
    }


    section.social .img-mosaico-single-social {
        width: calc(100% / 3);
        padding-top: calc(100% / 3);
    }

    .mosaico-social>div:nth-of-type(1n+4) {
        display: none;
    }

}

/*Responsivo 580*/
@media (max-width: 580px) {

    header .logo img {
        width: 200px;
    }

    section.perfil-container .img-perfil {
        width: 80%;
        padding-top: 110%;
    }

    section.perfil-container .texto-perfil {
        text-align: justify;
        width: 100%;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
    }

    section.videos .box-video {
        width: 100%;
        padding-top: calc(100% * 0.6);
    }

}

/*Responsivo 320*/
@media (max-width: 320px) {


    section.servicos>.container {
        top: -25px;
    }


    section.servicos>.container .box-servico:nth-of-type(1) {
        width: 90%;
        max-width: 300px;
        padding: 30px 2%;
    }

    section.servicos>.container .box-servico:nth-of-type(2) {
        width: 94%;
        max-width: 310px;
        padding: 40px 2%;
    }

    section.servicos>.container .box-servico:nth-of-type(3) {
        width: 90%;
        max-width: 300px;
        padding: 30px 2%;
    }

}